# ============================================
# CORE - DJANGO Y BASE DE DATOS
# ============================================
Django==5.0
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2025.3

# ============================================
# BASE DE DATOS - MariaDB/MySQL
# ============================================
PyMySQL==1.1.2

# ============================================
# CIENCIA DE DATOS - NumPy y Pandas
# ============================================
numpy==2.1.1
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
tzlocal==5.3.1
six==1.17.0
# ============================================
# UTILIDADES DE DJANGO
# ============================================
django-crispy-forms==2.3
django-bootstrap5==26.2
crispy-bootstrap5==2025.6
django-extensions==3.2.3
django-filter==24.3
django-import-export==4.0.0
django-cors-headers==4.4.0
python-decouple==3.8
python-dotenv==1.0.1
PyYAML==6.0.3

# ============================================
# PETICIONES HTTP Y UTILIDADES DE RED
# ============================================
requests==2.32.5
certifi==2026.2.25
charset-normalizer==3.4.5
idna==3.11
urllib3==2.6.3
chardet==7.0.1
mysql_connector_python===9.6.0
mysqlclient===2.2.8
mysql===0.0.3